{{ if and (not .Params.disable_comments) }}
<section class="appendix">

{{ with (default .Params.license .Site.Params.license ) }}
<div>
  <div class="side side-left"><h3>{{ i18n "reUse" }}</h3></div>
  {{ . | markdownify }}
</div>
{{ end }}

{{ partial "correction.html" . }}

<div>
  <div class="side side-left"><h3>{{ i18n "comments" }}</h3></div>
  <script src="https://utteranc.es/client.js"
      repo="ecok/ecok"
      issue-term="pathname"
      label="comment"
      theme="github-light"
      crossorigin="anonymous"
      async>
  </script>
</div>
</section>
{{ end }}
